# H1: Data science Tools and Ecosystem

In this notebook ,data science Tools are summarized.

 **Objectives**
* List of popular tools for data science
* List of popular Languages in data science
* List of popular libraries used in data science

# Some of the popular languages data scientist use are
- Python
- SQl
- Java

In [ ]:
# Some of the commonly used libraries data scientists use  are:-
* Numpy
* Pandas
* MatPlotlib

In [ ]:
| Data Science Tools|
|------------------|
|Jupyter Notebook|
|Apache|
|Anaconda|

### H3 :Below are a few examples of arithematic expression in Python

In [6]:
# This is a simple arithematic expression to multiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200minutes into hours dividing by 60
200/60

3.3333333333333335

## H2 : Author

Madhu Meeta Prasad